.child-health-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 5);
}

.child-health-form > div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
}

.child-col {
    white-space: nowrap;
}

.child-health-content h4 {
    font-size: var(--text-md);
}

.child-health-content li {
    color: var(--text-muted);
    font-weight: var(--font-weight-medium);
}