*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-section {
    display: flex;
    align-items: center;
    gap: .75rem;
}

#request-appointment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

